* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom styles for the header */
/* .ag-theme-alpine .ag-header {
  background-color: #4CAF50 !important;
  color: white !important;
  font-weight: bold !important;
}

.ag-theme-alpine .ag-header-cell {
  border-bottom: 2px solid #388E3C !important;

}

/* Custom styles for data cells */
/* .ag-theme-alpine .ag-cell {
  background-color: #f9f9f9 !important;
  color: #333 !important;
} */

/* .ag-theme-alpine .ag-row:hover .ag-cell {
  background-color: #e0f7fa !important;
}

.ag-theme-alpine .ag-row-selected {
  background-color: #c8e6c9 !important;
}

.ag-theme-alpine {
  border-radius: 8px !important;
  overflow: hidden !important;
}  */